coverage/
log/
node_modules/
dumped-config.js
scripts/*.js
!scripts/discovery-client.js
!scripts/discovery-service.js
!scripts/dump-config-file.js
!scripts/dump-packet-fields.js
!scripts/dump-packet-ids.js
!scripts/dump-replay-script.js
!scripts/em-simulator.js
!scripts/get-changeset-id.js
!scripts/load-monitor.js
!scripts/mqtt-publisher.js
!scripts/text-logger.js
!scripts/vbus-logger.js
!scripts/webserver.js
